<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tamarjy - Reserve</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link rel="icon" href="/static/images/icons/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/styles/main.css">
        <script src="/static/scripts/reserve.js"></script>
    </head>
    <body class="bg-slate-200 font-[Roboto Slab] overflow-x-hidden">
        <!-- user id hidden tag -->
        <input type="hidden" id="user_id" data-userid="{{ current_user.id }}" value="">
        <!-- Header section -->
        <section class="w-full p-0 py-2 m-0 fixed top-0 z-50 bg-cyan-900">
            <header class="container max-w-[1680px] xl:mx-auto flex justify-between
                           items-stretch text-slate-300 px-0 md:px-9">
                <!-- logo -->
                <div class="m-0 p-0 w-28 max-w-56 md:w-full">
                    <a href="/" class="decoration-0 p-0 mx-auto md:m-0 w-100 h-100">
                        <img src="/static/images/icons/tamarjy_logo.png" alt="Tamarjy logo"
                        class="p-0 m-0 w-full object-center hover:scale-95">
                    </a>
                </div>
                <!-- navbar -->
                <div class="m-0 p-0 flex items-center align-middle z-40">
                    <button class="block relative md:hidden z-50" id="toggler">
                        <img src="/static/images/icons/menu_1.png" alt="Menu" class="w-10 pr-3" id="menu_img">
                    </button>
                    <nav class="m-0 p-0 hidden fixed left-0 md:left-auto top-10 md:top-auto z-50 md:flex rounded-lg md:relative flex-col md:flex-row 
                                justify-around items-center md:justify-end md:items-center bg-cyan-900
                                md:gap-6 h-1/2 w-screen md:h-auto md:w-auto md:bg-inherit" id="nav_bar">
                        <a href="#predictor" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100">Services</a>
                        <a href="#about_us" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100">About</a>
                        <a href="#contact_us" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100">Get in touch</a>
                        <a href="/logout" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100">Logout</a>
                    </nav>
                </div>
            </header>
        </section>
        <!-- clinics section -->
        <section class="w-full p-0 m-0 mt-20 md:mt-40 text-slate-800 overflow-x-hidden">
            <!-- headline -->
            <div class="container max-w-[1680px] xl:mx-auto flex flex-col justify-center align-middle items-center">
                <h2 class="text-2xl md:text-3xl text-center text-opacity-75">Clinics</h2>
                <h3 class="text-3xl md:text-5xl text-center text-opacity-65">Our Legit Health Providers</h3>
            </div>
            <!-- Disease nav -->
            <div class="container max-w-[1680px] xl:mx-auto overflow-scroll flex flex-row p-0 m-0 mt-16 mb-5 text-slate-200 text-center scroll-m-0 scrollbar-none">
                <ul class="w-full overflow-scroll decoration-0 flex flex-row p-0 m-0 text-inherit bg-inherit scrollbar-none" id="diseases_nav">
                    {% for disease in diseases %}
                    <li class="w-full min-w-fit decoration-0 p-2 m-0 list-none border-2 border-slate-200 rounded-lg cursor-pointer bg-cyan-900 hover:bg-cyan-800" id="{{ disease['id'] }}" data-specialty="{{ disease['specialty'] }}">
                        {{ disease['name'] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- clinics -->
            <div class="w-full max-w-[1680px] xl:mx-auto flex flex-row flex-wrap justify-left items-stretch gap-y-6" id="clinics">
                <!-- reservation message -->
                <div class="w-full shrink-0 m-0 p-0 mx-auto text-center hidden" id="reservation_message">
                    <h3 class="w-full md:w-1/2 mx-auto text-lg md:text-2xl text-center text-opacity-75 text-slate-950"></h3>
                </div>
                <!-- clinics card -->
                {% for clinic in clinics %}
                <div class="w-full h-72 md:h-80 md:w-[32%] md:mx-[0.65%] rounded-lg shadow-slate-500 bg-blend-multiply cursor-pointer
                            flex flex-col justify-center items-center overflow-hidden object-fill bg-center bg-cover bg-no-repeat
                            hover:shadow-slate-800 hover:bg-blend-multiply hover:bg-opacity-75 hover:bg-slate-800 clinic-card"
                     style="background-image: url(/static/images/clinics_images/{{clinic.profile_img}})">
                    <!-- clinic details -->
                    <div class="w-full h-full flex flex-col justify-center px-2 pt-3 m-0 bg-slate-800 bg-opacity-30 text-slate-100 z-0">
                        <h3 class="text-2xl text-center text-opacity-75 font-bold tracking-wider drop-shadow-2xl z-10">{{ clinic.name }}</h3>
                    </div>
                    <div class="w-full flex flex-col justify-center p-2 bg-slate-200 border-1 border-slate-800 border-opacity-50 border-t-0 rounded-lg">
                        <p class="text-sm text-left text-opacity-65 font-bold inline-block">Specialty: <span class="text-opacity-100 font-normal">{{ clinic.specialty }}</span></p>
                        <p class="text-sm text-left text-opacity-65 font-bold inline-block">Phone: <span class="text-opacity-100 font-normal">{{ clinic.phone }}</span></p>
                    </div>
                    <!-- TODO: clinic available dates -->
                    <!-- reserve -->
                    <button class="hidden reserve" data-clinicid="{{ clinic.id }}">Reserve</button>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- clinic appointment avalible dates -->
        <div class="w-full max-w-[400px] h-[376px] p-1 m-0 fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
                    border-0 rounded-lg hidden flex-col justify-start items-center bg-slate-200 text-cyan-950
                    blur-none shadow-2xl shadow-slate-700" id="clinic_dates">
            <div class="w-full h-1/4 p-0 m-0 flex justify-center items-center">
                <h3 class="text-xl md:text-2xl text-center text-opacity-75 font-bold tracking-wider">Available Dates</h3>
            </div>
            <!-- date and time -->
            <div class="w-full h-full p-0 m-0 flex flex-col justify-around">
                <!-- date dropdown -->
                <div class='w-full p-0 m-0'>
                    <select name="days" id="days" class="w-[180px] p-2 text-cyan-950 rounded"> 
                        <option value="Today">Today</option>
                    </select>
                </div>
                <!-- time section -->
                <div class="w-full flex flex-wrap justify-between gap-[20px] p-2 border-slate-500 rounded 
                            overflow-scroll scrollbar-thin scrollbar-track-cyan-950" id="times">
                    <div class="w-1/4 h-1/4 border border-slate-500 rounded flex justify-center items-center text-slate-200 bg-cyan-700 hover:bg-cyan-900 hover:border-cyan-900 cursor-pointer">09:00</div>
                </div>
            </div>
            <!-- reserve button -->
            <div class="w-full p-0 m-0 my-2 flex flex-col justify-center items-center">
                <button class="w-1/2 p-2 text-center text-slate-200 bg-cyan-700 hover:bg-cyan-900 rounded-lg cursor-pointer" id="reserve">Reserve</button>
            </div>
        </div>
    </body>
</html>