<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tamarjy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link rel="icon" href="../static/images/icons/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/styles/main.css">
        <script type="module" src="../static/scripts/app.js"></script>
    </head>
    <body class="bg-slate-200 font-['Roboto Slab'] overflow-x-hidden">
        <!-- Header section -->
        <section class="min-w-full w-fit min-h-screen h-fit relative flex flex-col justify-normal bg-cyan-900
                        bg-[url('../static/images/icons/headr_bg.svg')] bg-[length:100%_20%] bg-no-repeat bg-left-bottom
                        ">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="container max-w-[1680px] xl:mx-auto flex justify-center items-center text-slate-300 text-center p-2 bg-cyan-900">
                                    <p class="text-lg md:text-xl lg:text-2xl">{{ messages[0] }}</p>
                                </div>
                            {% endif %}
                        {% endwith %}
            <header class="container max-w-[1680px] xl:mx-auto flex justify-between fixed top-0 z-50
                            items-stretch text-slate-300 py-3 md:py-4 px-0 md:px-9 bg-cyan-900">
                <!-- logo -->
                <div class="m-0 p-0 w-28 max-w-56 md:w-full">
                    <a href="/" class="decoration-0 p-0 mx-auto md:m-0 w-100 h-100">
                        <img src="../static/images/icons/tamarjy_logo.png" alt="Tamarjy logo"
                        class="p-0 m-0 w-full object-center hover:scale-95 transition-all duration-300">
                    </a>
                </div>
                <!-- navbar -->
                <div class="m-0 p-0 items-center align-middle md:pt-4">
                    <button class="block relative md:hidden z-50" id="toggler">
                        <img src="../static/images/icons/menu_1.png" alt="Menu" class="w-10 pr-3 transition-all duration-300" id="menu_img">
                    </button>
                    <nav class="m-0 p-0 hidden fixed left-0 md:left-auto top-16 md:top-auto md:flex rounded-lg md:relative flex-col md:flex-row 
                                justify-around items-center md:justify-end md:items-center bg-cyan-900 transition-all duration-700 ease-in-out
                                md:gap-6 h-[40%] w-screen md:h-auto md:w-auto md:bg-inherit" id="nav_bar">
                        <a href="#predictor" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100 transition-all duration-300">Services</a>
                        <a href="#about_us" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100 transition-all duration-300">About</a>
                        <a href="#contact_us" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 hover:text-slate-100 focus:text-slate-100 transition-all duration-300">Get in touch</a>
                        <a href="/login" class="decoration-0 w-screen md:w-auto pl-4 pb-2 md:p-0 text-3xl md:text-xl font-semibold border-0 border-b border-blue-200 md:border-0 md:hidden hover:text-slate-100 focus:text-slate-100 transition-all duration-300">Login</a>
                    </nav>

                </div>
            </header>
            <div class="container max-w-[1680px] xl:mx-auto flex flex-col md:flex-row justify-between px-0 md:px-9
            items-stretch mt-44">
                <div class="container mx-auto flex flex-col md:flex-row justify-between p-2
                            items-stretch">
                    <div class="flex flex-col">
                        <h1 class="text-5xl md:text-7xl lg:text-8xl font-bold text-center md:text-left text-slate-300 text-opacity-75">Knowledge Is</h1>
                        <h2 class="text-2xl lg:text-4xl font-semibold text-center md:text-left text-slate-300 text-opacity-65 my-auto mb-12 md:mt-2 md:mb-5">Your Vital Prescription For Health</h2>
                        <a href="#predictor" class="decoration-0 bg-cyan-900 text-center text-slate-300 text-2xl md:text-2xl lg:text-3xl font-semibold p-2
                        md:p-3 rounded-lg border-opacity-65 border-l-cyan-200 border-0 md:border-4 hover:text-cyan-900 hover:bg-slate-300
                        lg:w-2/5 absolute md:relative bottom-12 md:bottom-auto left-1/2 md:left-auto -translate-x-1/2 md:translate-x-0 transition-all duration-300">
                        Get started
                        </a>
                    </div>
                </div>
                <div class="container md:flex flex-col md:flex-row justify-end p-2
                            items-end ">
                    <div class="flex flex-col justify-center items-center mt-4 md:mt-0 place-self-end">
                        <img src="../static/images/icons/tamarjy_slogan.png" alt="Tamarjy logo"
                        class="w-1/2 md:w-full object-fill max-w-md md:block absolute md:relative left-1/2 md:left-auto bottom-[21%] md:bottom-auto -translate-x-1/2 md:translate-x-0 transition-all duration-300">
                    </div>
                </div>
                <a href="/login" class="decoration-0 hidden md:block absolute bottom-[8%] right-[7%] md:w-full max-w-32 text-3xl md:text-3xl text-slate-300 text-opacity-70
                                        text-center font-light border-0 border-b border-blue-200 md:border-0 rounded-md hover:text-cyan-900 hover:bg-slate-300 transition-all duration-300">
                    Login
                </a>
            </div>
        </section>
        <!-- Predict section -->
        <section class="min-w-full w-fit min-h-dvh h-fit mx-auto mt-[-4px] pt-10 relative flex flex-col justify-normal bg-slate-200 
                        pb-[50%] md:pb-[40%] lg:pb-[10%]
                        bg-[url('../static/images/icons/bg_2.svg')] bg-[length:100%_100px] lg:bg-[length:100%_130px] bg-no-repeat bg-left-bottom" id="#predictor">
            <!-- predictor information -->
            <div class="container max-w-[1680px] mx-auto flex flex-col justify-between
                            items-stretch text-slate-800 mb-10 mt-5 md:mt-4 px-2 md:px-9">
                <div class="container mx-auto flex flex-col justify-center
                            items-stretch">
                    <h2 class="text-2xl md:text-4xl text-center text-opacity-75">Symptoms based prediction</h3>
                    <h3 class="text-5xl lg:text-7xl font-semibold text-center text-opacity-65 my-auto mb-12 md:mt-5">Tamarjy Model</h3>
                </div>
                <div class="container mx-auto flex flex-col md:flex-row justify-center md:mt-8 gap-6">
                    <div class="w-full md:w-1/2 min-h-full m-0 md:mr-3 p-0 flex-col justify-between">
                        <p class="text-xl md:text-2xl lg:text-3xl m-auto text-justify md:leading-tight">
                            Welcome! Tamarjy is here to help you. Describe the symptoms you are experiencing<br>
                            Please note that Tamarjy is a highly trained machine learning model that can predict the most 
                            likely diseases based on the symptoms you provide. 
                            However, it's important to note that the predictions provided by Tamarjy are not 
                            conclusive and should not be used as a diagnosis. It's always advisable to 
                            consult with a professional doctor for an accurate diagnosis 
                            <a href="#services" 
                                class="inline-block text-xs md:text-xl text-inherit border-2 border-cyan-900 hover:bg-cyan-900 hover:text-slate-300 p-1 w-fit rounded-xl transition-all duration-300">
                                See Our Services
                            </a>
                        </p>
                    </div>
                    <div class="w-full md:w-1/2 min-h-full m-0 p-0 md:ml-3 flex flex-col justify-between">
                        <textarea  placeholder="Describe your symptoms here..." name="symptoms" id="symptoms" rows="6" cols="30"
                                class="w-full min-h-32 md:min-h-60 max-h-60 p-2 text-xl text-slate-900 border-0 rounded-lg leading-tight self-start shadow-slate-600"></textarea>
                         <button class="bg-cyan-900 text-slate-300 text-xl p-2 rounded-lg border-0 hover:bg-slate-300 hover:text-cyan-900 w-full mt-2 transition-all duration-300" id="predict">Predict</button>
                    </div>
                </div>
            </div>
            <!-- predictor results -->
            <div class="container hidden max-w-[1680px] mx-auto flex-col justify-between items-stretch
                        overflow-hidden text-slate-800 pt-32 md:pt-40 px-2 md:px-9" id="results">
                <div class="container mx-auto flex flex-col justify-center
                            items-stretch">
                    <h2 class="text-2xl md:text-4xl text-center text-opacity-75">Symptoms based prediction</h2>
                    <h3 class="text-5xl lg:text-7xl font-semibold text-center text-opacity-65 my-auto mb-12 md:mt-5" id="disease">Predicted Diseases</h3>
                </div>
                <!-- results section -->
                <div class="container mx-auto overflow-hidden flex flex-col ustify-center md:mt-8">
                    <!-- results nav -->
                    <div class="w-full overflow-scroll flex flex-row p-0 m-0 mb-5 text-slate-200 text-center scrollbar-none">
                        <ul class="w-full overflow-scroll decoration-0 flex flex-row p-0 m-0 text-inherit bg-inherit scrollbar-none" id="diseases_nav">
                        </ul>
                    </div>
                    <!-- results content -->
                    <div class="w-full m-0 mb-5 p-0 flex flex-col md:flex-row md:justify-between items-stretch">
                        <!-- disease description -->
                        <div class="w-full md:w-1/2 md:mr-5 flex flex-col" id="disease_desc">
                            <h2 class="text-left text-slate-800 text-2xl font-semibold">Description</h2>
                            <p class="text-left text-slate-800 text-xl mt-5 transition-all duration-300" id="description"></p>
                        </div>
                        <!-- disease precautions -->
                        <div class="w-full md:w-1/2 md:ml-5 flex flex-col" id="disease_prec">
                            <h2 class="text-left text-slate-800 text-2xl font-semibold">Precautions</h2>
                            <p class="text-left text-slate-800 text-xl mt-5 transition-all duration-300" id="precautions"></p>
                        </div>
                    </div>
                    <!-- get a reservation -->
                    <div class="w-full m-0 mb-5 p-0 flex flex-wrap flex-col md:flex-row md:justify-center items-stretch">
                      <button class="bg-cyan-900 text-slate-300 text-xl rounded-lg border-0 hover:bg-slate-300 hover:text-cyan-900 w-1/2 max-w-xs mt-2 mx-auto p-2 transition-all duration-300" id="save_cookie">Set a reservation</button>
                    </div>
                </div>
            </div>
        </section>
        <a href="/reserve" class="hidden" id="reserve">reserve</a>

        <!-- about us -->
        <section class="min-w-full w-fit min-h-dvh h-fit mx-auto mt-[-10px] pb-20 py-0 relative flex flex-col justify-normal text-slate-200
                        bg-cyan-900" id="#about_us">
            <div class="container max-w-[1680px] mx-auto flex flex-col justify-between
                            items-stretch mb-10 mt-5 md:mt-4 px-2 md:px-9">
                <h2 class="text-2xl md:text-4xl text-center text-opacity-75">About Us</h3>
                <h3 class="text-5xl lg:text-7xl font-semibold text-center text-opacity-65 my-auto mb-12 md:mt-5">Tamarjy</h3>
                <!-- about tamarjy -->
                <div class="container mx-auto flex flex-col md:flex-row justify-center md:justify-between
                            items-stretch">
                    <div class="w-full md:w-[60%] flex flex-col justify-center md:justify-between items-center mb-10">
                        <p class="text-lg w-full">Tmarjy is a medical services provider that offers a quick and efficient solution to identify 
                            medical conditions based on symptoms provided by users. 
                            The idea for Tmarjy was born out of my personal experience of suffering from pneumonitis (lung inflammation) 
                            when I moved to a new region. The lack of easily accessible medical services, complicated by the confusing 
                            medical specialties, posed a significant challenge. As someone who knows the value of timely medical 
                            attention, I realized the need for a software solution that could cut through the clutter and deliver 
                            reliable guidance. And that's exactly what Tmarjy does.
                        </p>
                        <div class="w-2/3 mt-5 md:mt-0 md:w-1/3 flex justify-normal items-center gap-1 text-slate-200 bg-cyan-950 hover:text-cyan-900 hover:bg-slate-200 rounded-md border-0 p-1 transition-all duration-300 cursor-pointer">
                            <img src="../static/images/icons/github_2.png" alt="github account" class="w-[45px] h-[45px] p-1 pl-0 ml-2">
                            <a href="https://github.com/mojtabababiker/tamarjy" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-0 text-center">
                                Project Repository
                            </a>
                        </div>
                    </div>
                    <!-- about me -->
                    <div class="w-full md:w-1/3 h-[500px] md:h-[500px] relative rounded-lg shadow-slate-500 bg-blend-multiply cursor-pointer
                        flex flex-col justify-end items-end overflow-hidden object-fill bg-top bg-cover bg-no-repeat
                        hover:shadow-slate-800 hover:bg-blend-multiply hover:bg-opacity-75 hover:bg-slate-800 clinic-card"
                        style="background-image: url(../static/images/users_images/portrait_me.JPG)" id="#contact_us">
                        <div class="w-full flex justify-around p-2 bg-slate-200 border-1 border-slate-800 border-opacity-50 border-t-0 rounded-lg">
                            <a href="https://github.com/mojtabababiker" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-0">
                                <img src="../static/images/icons/github.png" alt="github account" class="w-[45px] h-[45px] p-1 hover:scale-105 transition-all">
                            </a>
                            <a href="https://www.linkedin.com/in/mojtaba-mohammed-72b50823a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-0">
                                <img src="../static/images/icons/linkedin.png" alt="linkedin account" class="w-[45px] h-[45px] p-1 hover:scale-105 transition-all">
                            </a>
                            <a href="https://x.com/Mojtaba_Babik3r?t=Rf7LsCQJrBrMJ7vjY2jmQg&s=09" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-0">
                                <img src="../static/images/icons/twitter.png" alt="twitter account" class="w-[45px] h-[45px] p-1 hover:scale-105 transition-all">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <section class="min-w-full w-fit h-8 relative flex justify-between bg-cyan-900 text-slate-200">
            <div class="container max-w-[1680px] mx-auto flex justify-between items-center p-2">
                <p class="text-xs md:text-lg">© 2024 Tamarjy. All rights reserved.</p>
            </div>
            <div class="w-1/2 max-w-[1680px] mx-auto flex justify-end items-center p-2">
                <a href="https://github.com/mojtabababiker" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-1">
                    <img src="../static/images/icons/github_2.png" alt="github account" class="w-[30px] h-[30px] p-1 hover:scale-105 transition-all">
                </a>
                <a href="https://www.linkedin.com/in/mojtaba-mohammed-72b50823a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-1">
                    <img src="../static/images/icons/linkedin_2.png" alt="linkedin account" class="w-[30px] h-[30px] p-1 hover:scale-105 transition-all">
                </a>
                <a href="https://x.com/Mojtaba_Babik3r?t=Rf7LsCQJrBrMJ7vjY2jmQg&s=09" target="_blank" rel="noopener noreferrer" class="decoration-0 block p-0 m-1">
                    <img src="../static/images/icons/twitter_2.png" alt="twitter account" class="w-[30px] h-[30px] p-1 hover:scale-105 transition-all">
                </a>
            </div>
        </section>
    </body>
</html>
